GOOGLE_API_KEY=
AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=

EMBEDDING_MODEL=google_genai:gemini-embedding-001
EMBEDDING_DIMENSION=1024

PINECONE_API_KEY=
PINECONE_HOST=
PINECONE_INDEX_NAME=
PINECONE_NAMESPACE=